<div class="page_layout__header">
	<div class="header-md">
		<div class="header-md__logo">
			<a aria-label="Home" href="index.html" role="button">Logo</a>
		</div>
		<div class="header-md__nav">
			<nav class="site-nav">
				<a href="#" class="nav-link">Link 1</a>
				<a href="#" class="nav-link">Link 2</a>
			</nav>
			<nav class="action-nav">
				<button type="button" class="btn btn-primary btn-sm" ng-click="mc.signup();">Sign up</button>
				<button type="button" class="btn btn-secondary btn-sm" ng-click="mc.login();">Log in</button>
			</nav>
		</div>
	</div>
</div>