<script src="resources/js/libs/jquery.min.js"></script>
<script src="resources/js/libs/angular.min.js"></script>
<script src="resources/js/libs/angular-animate.min.js"></script>
<script src="resources/js/libs/angular-route.min.js"></script>
<script src="resources/js/libs/angular-sanitize.min.js"></script>
<script src="resources/js/libs/angular-strap.js"></script>
<script src="resources/js/libs/angular-strap.tpl.js"></script>
<script src="resources/js/libs/swiper.min.js"></script>
<script src="resources/js/libs/swiper.jquery.min.js"></script>

<script src="resources/js/app.js"></script>
<script src="resources/js/controller/mainController.js"></script>
<script src="resources/js/directive/buttonLoaderDirective.js"></script>
<script src="resources/js/directive/standardInput.js"></script>
<script src="resources/js/general.js"></script>
