<!doctype html>
<html class="no-js" lang="en" ng-app="myApp">
@@include('./partials/head.html')
<body ng-controller="MainController as mc">
@@include('./partials/page-layout-header.html')

<div class="page_layout__content">
	<!-- <button class="btn btn-primary">Normal</button>
	<button class="btn btn-secondary">Normal</button>
	<button class="btn btn-primary btn-sm">Small</button>
	<button class="btn btn-primary btn-lg">Large</button>

	<div class="container">
		<div class="row equal-height">
			<div class="col-xs-12 col-md-6 m-t-2 m-b-2">
				<div>
					<h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
					<p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.</p>
					<button class="btn btn-primary">Normal</button>
					<button class="btn btn-primary btn-sm">Small</button>
					<button class="btn btn-primary btn-lg">Large</button>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 m-t-2 m-b-2">
				<div>
					<h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
					<p class="open-sans">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.</p>
					<button class="btn btn-primary open-san-bold">Normal</button>
					<button class="btn btn-primary btn-sm open-san-bold">Small</button>
					<button class="btn btn-primary btn-lg open-san-bold">Large</button>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 m-t-2 m-b-2">
				<div>
					<h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
					<p class="roboto">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.</p>
					<button class="btn btn-primary roboto-bold">Normal</button>
					<button class="btn btn-primary btn-sm roboto-bold">Small</button>
					<button class="btn btn-primary btn-lg roboto-bold">Large</button>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 m-t-2 m-b-2">
				<div>
					<h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
					<p class="lato">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.</p>
					<button class="btn btn-primary lato-bold">Normal</button>
					<button class="btn btn-primary btn-sm lato-bold">Small</button>
					<button class="btn btn-primary btn-lg lato-bold">Large</button>
				</div>
			</div>
		</div>
	</div> -->

	<div class="container">
		<!-- <button class="btn btn-primary" type="button" button-loader>
			<span class="btn__text">Submit</span>
			<span class="btn__loader"><span class="loader inverted small"></span></span>
		</button> -->

		<button-loader></button-loader>

		<standard-input type="text" label="hello" inputclass="form-control" placeholder="Insert here"></standard-input>

		<notification message="Hello"></notification>
	</div>
	
</div>

<!-- <aside class="fixed-sidebar">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
				<p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.</p>
				<button class="btn btn-primary">Normal</button>
				<button class="btn btn-primary btn-sm">Small</button>
				<button class="btn btn-primary btn-lg">Large</button>
				<h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
				<p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.</p>
				<button class="btn btn-primary">Normal</button>
				<button class="btn btn-primary btn-sm">Small</button>
				<button class="btn btn-primary btn-lg">Large</button>
				<h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
				<p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.</p>
				<button class="btn btn-primary">Normal</button>
				<button class="btn btn-primary btn-sm">Small</button>
				<button class="btn btn-primary btn-lg">Large</button><h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
				<p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.</p>
				<button class="btn btn-primary">Normal</button>
				<button class="btn btn-primary btn-sm">Small</button>
				<button class="btn btn-primary btn-lg">Large</button><h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
				<p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.</p>
				<button class="btn btn-primary">Normal</button>
				<button class="btn btn-primary btn-sm">Small</button>
				<button class="btn btn-primary btn-lg">Large</button><h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
				<p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.</p>
				<button class="btn btn-primary">Normal</button>
				<button class="btn btn-primary btn-sm">Small</button>
				<button class="btn btn-primary btn-lg">Large</button><h1>Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
				<p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.</p>
				<button class="btn btn-primary">Normal</button>
				<button class="btn btn-primary btn-sm">Small</button>
				<button class="btn btn-primary btn-lg">Large</button>
			</div>
		</div>
		<div class="swiper-scrollbar"></div>
	</div>
</aside> -->


@@include('./partials/page-layout-footer.html')
@@include('./partials/scripts.html')
</body>
</html>