.header-md {
	width: 100%;
	@include flexbox();
	@include align-items(center);
	border-bottom: 1px solid $gray-lighter;
	padding-left: $grid-gutter-width/2;
	padding-right: $grid-gutter-width/2;
	padding-top: rem(10);
	padding-bottom: rem(10);
}

.header-md__logo {
	@include flexbox()
	@include align-items(center);
}

.header-md__nav	{
	width: 100%;
	@include flexbox();
	@include align-items(center);
	@include justify-content(space-between);

	.site-nav {
		@include flexbox();
		@include align-items(center);

		.nav-link {
			margin-left: 10px;
		}
	}

	.action-nav {
		@include flexbox();
		@include align-items(center);

		.btn {
			margin-left: 10px;
		}
	}
}